# Ignorar o diretório de dependências
node_modules/

# Ignorar arquivos de ambiente
.env

# Ignorar logs
logs
*.log

# Ignorar diretórios do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos do editor
.vscode/
.idea/
*.swp
